
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 500;
}

body{
    background-color:#0c122c;
   
}

main{
    background: url(/assets/img/bg-desktop.png) no-repeat bottom;
    background-size: 1550px 350px;
}

.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main__container{
    display: grid;
    grid-gap: 140px;
    grid-template-columns: auto auto;
}

/* Column 1 */
.column1{
    background-color: #1d2c67;
    padding: 40px 40px;
    border-radius: 5px 100px 5px 5px;
    width: 380px;
}

.column1 .logo{
    padding: 20px 0;
    position: relative;
    bottom: 20px
    
}



.column1 .docu{
    background-color: #0c122c;
    padding: 10px 10px;
    border-radius: .5rem;
}

.column1 .folder{
    background-color: #0c122c;
    padding: 12px 10px;
    margin-left: 20px;
    border-radius: .5rem;
}

.column1 .upload{
    background-color: #0c122c;
    padding: 14px 10px;
    margin-left: 20px;
    border-radius: .5rem;
}


/* Column 2 */
.column2{
    background-color: #1d2c67;
    position: relative;
    padding: 35px 50px;
    border-radius: 10px;
    width: 455px;
    height: 80%;
    right: 80px;
    top: 45px
}

.data span{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
.bandwidth{
    width: 100%;
    background-color: #848794;
    border-radius: .5rem;
    margin: 10px 0;
}

.consume{
    text-align: center;
    color: white;
}


.remaining{
    display: flex;
    justify-content: space-between;
}

.used{
    width: 70%;
    background: linear-gradient(to bottom, #ffa399 0%, #ff4d97 100%);
    border-radius: .5rem;
}

.bx{
    position: relative;
    top: 2px;
    left: 115px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1rem;
}


.message{
    width: 150px;
    margin: 50px auto;
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    color: black;
    border-radius: 10px 10px 0px 10px;
    bottom: 150px;
    left: 200px;
    margin: 0;
}

.message p, .message span{
    color: black;
}
.message p{
    font-size: 2rem;
}

.message span{
    font-size: .8rem;
}
.bubble:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    right: 0px;
    bottom: -19px;
}


/*Background Image*/



@media screen and (max-width: 900px){

    main{
        background: url(/assets/img/bg-mobile.png) no-repeat;
        background-size: 100% 100%;
    }
    .container{
        padding: 20px 10px
    }
    
    .main__container{
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }

    .column1{
        width: 300px
    }

    .data h5{
        font-size: .6rem;
    }

    .remaining p{
        font-size: .6rem;
    }
    .column2{
        position: relative;
        left: 0px;
        width: 100%;
        width: 300px;
    }

    .bx{
        position: relative;
        top: 2px;
        left: 59px;
        background-color: #fff;
        border-radius: 50%;
        font-size: 1rem;
    }

    .message{
        position: relative;
        background-color: #fff;
        width: 60%;
        left: 35px;
        border-radius: 10px;
        bottom: -25px;
    }

    .bubble:before{
        display: none;
    } 
}

@media screen and (max-width: 600px) {
    .main__container{
        padding: 20px 0px;
    }
}
